body {
  background-color: #d8d6d6b0;
}
.App {
  /* text-align: center; */
  margin-top: 5%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.CardList-item {
  margin-top: 5%;
}
